/*==============================Bim-lib（bim库样式）=====================*/
.Bim-libs .contents{position:relative}
.Bim-libs  table.bim-lib,
.Bim-libs  table.recycle-bins
{border:0;cellspacing:0;cellpadding:0;width:100%;min-width: 1390px;}
.Bim-libs table thead{background:#f0f0f0;}
.Bim-libs table thead>tr>th{padding:0px 7px;height:60px;line-height:60px;}
/*table.bim-lib thead>tr>th:nth-child(1){width:20px;}
table.bim-lib thead>tr>th:nth-child(3){width:40px;}
table.bim-lib thead>tr>th:nth-child(4){width:80px;}
table.bim-lib thead>tr>th:nth-child(5){width:80px;}
table.bim-lib thead>tr>th:nth-child(7){width:60px;}
table.bim-lib thead>tr>th:nth-child(8){width:0%;}*/
.Bim-libs table tbody>tr:hover{background:#f0f0f0}
.Bim-libs table thead>tr>th{border-right:1px solid #e6e6e6;}
.Bim-libs table tbody>tr>td{height:45px;line-height:45px;text-align:center;padding:0 10px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6}
.Bim-libs table tbody>tr>td:nth-child(1){border-left:1px solid #e6e6e6;}
.Bim-libs table.bim-lib tbody>tr>td:nth-child(2),
.Bim-libs table.bim-lib tbody>tr>td:nth-child(8)
{text-align:left;}
.Bim-libs table.bim-lib tbody>tr>td.uploadPerson{width:58px;}
.Bim-libs table.bim-lib tbody>tr>td.bim-params{width:58px;}
.Bim-libs table.bim-lib thead>tr>th:nth-child(2){width:200px;}
.Bim-libs table.bim-lib thead>tr>th.uploadPerson{width:58px;}
.Bim-libs table.bim-lib thead>tr>th.bim-params{width:58px;}
.Bim-libs table.bim-lib thead>tr>th:nth-child(6){width:200px;}
.Bim-libs .bim-projType{min-width:62px;}
.bim-libs .bim-lib .data-proce{min-width:88px;}
/*回收站表格*/
.Bim-libs table.recycle-bins tr th.uploadPerson{width:58px;}
.Bim-libs table.recycle-bins tr th.depart-pro{width:230px;}
.Bim-libs table.recycle-bins tr td.project-name{text-align:left;}
.Bim-libs table.recycle-bins tr td.uploadPerson{width:58px;}
.Bim-libs table.recycle-bins tr td.depart-pro{width:230px;}
/*======================.Bim-libs-bim==================================*/
.Bim-libs-bim{margin-top:20px;background:#fff;padding:20px;}
/*filter-toobar*/
.Bim-libs-bim .bim-filter-toobar .filter-bar{
    margin-right:20px;
}
/*bim-data(页面分块样式)*/
.Bim-libs-bim .bim-data:nth-child(1){
    padding-bottom:12px;border-bottom:1px solid #e6e6e6;
}
.Bim-libs-bim .bim-data:nth-child(2){
    padding-top:15px;
}
.Bim-libs-bim .bim-data:nth-child(3){
    padding-top:15px;
}
/*el-table(表格)*/
.Bim-libs-bim .work-set .table{min-width:900px !important;}
.bim-main{overflow:auto;}
.Bim-libs-bim .el-table th > .cell,
.Bim-libs-bim  .el-table .cell{
    padding:0;text-align:center;
}
.Bim-libs-bim  .el-table td:nth-child(3) div,
.Bim-libs-bim  .el-table td:nth-child(7) div,
.Bim-libs-bim  .el-table td:nth-child(9) div{
    padding:0 10px;
    white-space: nowrap;
}
.Bim-libs-bim  .el-table td:nth-child(3) div,
.Bim-libs-bim  .el-table td:nth-child(7) div,
.Bim-libs-bim  .el-table td:nth-child(9) div{
    text-align:left !important;padding:0 20px !important;
}

.Bim-libs-bim .el-table.house-table{
    min-width: 1280px !important;
}
.Bim-libs-bim .pagination .total-info{
    float: left;
    margin-top: 11px;
}
.bim-icon{width:18px;height:18px;display:inline-block;background:url('../../static/img/icon-menu.png') 0 0 no-repeat}
/*数据处理图标*/
/*.align-l:nth-child(1) .bim-icon{
    background-position: -18px 0;
}
.align-l:nth-child(2) .bim-icon{
    background-position: -36px 0;
}
.align-l:nth-child(3) .bim-icon{
    background-position: -54px 0;
}
.align-l:nth-child(4) .bim-icon{
    background-position: -72px 0;
}
.align-l:nth-child(5) .bim-icon{
    background-position: -90px 0;
}*/
.icon-projType{width:16px;height:20px;display:inline-block;background:url('../../static/img/icon-projType.png') 0 0 no-repeat}
/*数据操作图标*/
.handel-cotrol{width:23px;height:23px;display:inline-block;line-height:23px;border-radius:2px;}
.handel-icon{width:20px;height:20px;background:pink;float:left;margin-right:10px;margin-left:1px;background:url('../../static/img/icon-menu.png') 0 0 no-repeat;background-size:144px;}
.handel-cotrol:hover{background-color:lightskyblue;}
.handel-cotrol .handel-icon.see{
    background-position: -92px -212px;
}
.handel-cotrol .handel-icon.extract{
    background-position: -93px -231px;
}
.handel-cotrol .handel-icon.rename{
    background-position: -111px -212px;
}
.handel-cotrol .handel-icon.modify{
    background-position: -74px -250px;
}
/*表格按钮的图标*/
.bim-icon-tool{width:14px;height:14px;float:left;background:url('../../static/img/icon-menu.png') 0 0 no-repeat;margin:0 2px 0 16px;}
.bim-prj .basic-btn:nth-child(1) .bim-icon-tool{
    background-position: -3px -146px;
}
.bim-prj .basic-btn:nth-child(2) .bim-icon-tool{
    background-position: -58px -146px;
}
.bim-prj .basic-btn:nth-child(3) .bim-icon-tool{
    background-position: -75px -146px;
}
/*回收站按钮样式*/
.bim-recy .basic-btn:nth-child(1) .bim-icon-tool{
    background-position: -92px -146px;
}
.bim-recy .basic-btn:nth-child(2) .bim-icon-tool{
    background-position: -58px -146px;
}
.bim-recy .basic-btn:nth-child(3) .bim-icon-tool{
    background-position: -111px -146px;
}
.go-back{width:20px;height:20px;float:left;background:url('../../static/img/icon-menu.png') -107px -72px no-repeat;margin-top:-2px;}
/*弹窗*/
.project-manage{width:780px !important;}
.project-manage .el-input,.bims-contents .project-manage .el-form-item .el-select{width:86% !important;}
.project-manage .el-select>.el-input{width:100% !important;}

.bims-contents .el-form-item label.el-form-item__label{
    width:97px ;text-align:right;
}
.bims-contents .el-form-item .el-select{
    width:73% !important;
}
.bims-contents .el-form-item .el-textarea{
    width:84% !important;
}
/*projManage-remark(备注)*/
.bims-contents .projManage-remark{
    position:relative;
}
.bims-contents .info-pos{
    position:absolute;right:20px;bottom:0;
}
.bims-contents  .extract-dialog .el-dialog__body{text-align:center;}
.bims-contents  .extract-dialog .el-dialog__body .dialog-tips-title{
    padding:3px;text-align:left;font-size:14px;
}
.bims-contents  .extract-dialog .el-dialog__body .dialog-tips-title>span{font-size:14px;font-weight:bold;}
.bims-contents .dialog-extract-status{padding:0 7px;}
.bims-contents .dialog-extract-status i{
    color:orange;font-style:normal;
}
.delete-rootPerson{
    width:100%;
}
/*==========================工作集库页面样式===============================*/
.workSeting{padding:0 20px;background:#fff;}
.workSeting  .el-table td:nth-child(3) div,
.workSeting  .el-table td:nth-child(5) div,
.workSeting  .el-table td:nth-child(6) div
{text-align:left !important;padding:0 10px !important;}
/*work-toolbar(工具栏)*/
.workSeting .work-toobar{padding:10px 0;}
.pagination{padding:10px 0}
.work-icon{
    width:20px;height:20px;float:left;background:url('../../static/img/icon-btn.png') -272px -0px  no-repeat;
}
/*=========================workSeting(弹窗自绘制表单)=====================*/
.workSeting .table-row{height:100px;border-bottom:1px solid #e6e6e6;}
.workSeting .table-header{background:#f5f5f5;line-height:60px;}
.workSeting .table-header >div{float:left;text-align:center;}
.table-body .table-row .table-item:nth-child(2),
.table-body .table-row .table-item:nth-child(4)
{text-align:left;}
.table-body .table-row .table-item{text-align:center;line-height:100px;border-right:1px solid #e6e6e6;height:100%;padding:0 10px;}
.table-body .table-row .table-item:first-child{border-left:1px solid #e6e6e6;}
.table-body .table-row:hover{background:#f0f0f0}
.table-title{font-size:16px;font-weight:bold;padding:10px 0 }
.Bim-template{
    width: 80px !important;
    height: 80px;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    margin: 9px 10px 10px 8px;
}
.workSeting-dialog{width:766px !important;}
/*检测页面*/
.monitor-setting{width:470px;}
.monitor-setting>.el-dialog__body{padding:20px 40px 0px !important; }
.monitor-setting>.el-dialog__footer{padding:0px 20px 26px !important; }
/*修改工程名称弹窗*/
.rename-data{width:470px;}
.rename-data > .el-dialog__body{padding:20px 40px 0px !important; }
.rename-data>.el-dialog__footer{padding:0px 20px 26px !important; }
.bims-contents .rename-data .el-form-item label.el-form-item__label{width:58px !important;}
.bims-contents .rename-data .el-input{width:85% !important;}
/*抽取弹窗*/
.extract-data{width:450px;}
/*=======================pdfDrawing(pdf图纸页面)======================*/
.pdfDrawing .el-table td:nth-child(8) div{
    text-align:left !important;padding:0 10px !important;
}
.pdf-icon{
    width:16px;height:16px;float:left;
}
.draw-clear{right:30px;top:10px;color:#e6e6e6;}
.pdf-icon.icon-delete,.work-icon.icon-delete{
    background:url('../../static/img/icon-menu.png')  -58px -146px   no-repeat;margin-left:16px;
}
.pdf-icon.icon-edit{
   float:left;margin-left:30px; background:url('../../static/img/icon-menu.png')  -110px -216px   no-repeat;
}
/*form-item (修改图纸信息弹窗)*/
.pdfDrawing .el-table td{padding:0!important;}
.pdfDrawing .el-table .el-tooltip.cell{padding:0px 10px}
.pdfDrawing .el-table td:nth-child(2) .el-tooltip.cell,
.pdfDrawing .el-table td:nth-child(5) .el-tooltip.cell,
.pdfDrawing .el-table td:nth-child(7) .el-tooltip.cell{
text-align:left;}

.pdfDrawing .el-table__body{}
.draw-info{width:504px !important;}
.pdfDrawing .draw-info .el-input,.pdfDrawing .draw-info .el-select,.pdfDrawing .draw-info .el-textarea{width:77%!important;}
.pdfDrawing .draw-info .el-select>.el-input{width:100% !important;}
.pdfDrawing .draw-info .el-form-item__label{width:90px !important;}
.pdfDrawing .draw-info .projManage-remark{position:relative;}
.pdfDrawing .draw-info .info-pos{position:absolute;right:13px !important;bottom:2px;background:#fff;height:30px;}
/*排序样式*/
.sort{width:12px;height:30px;display:inline-block;line-height:30px;top:10px;left:3px;}
.sort .asc{
    border:5px solid transparent;
    border-bottom:5px solid #ccc;
    display:inline-block;left:0;top:3px;
}
.sort .desc{
    border:5px solid transparent;
    border-top:5px solid #ccc;
    display:inline-block;top:15px;left:0;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover{
    background:#84aaf5;
}
.el-pagination{text-align:center;}
