/*component-main(构件库主内容区)*/
.component-main{background:#fff;border-radius:2px;padding:20px;
    -webkit-box-shadow:  2px 4px 7px #e2e5e9;
    -moz-box-shadow:  2px 4px 7px #e2e5e9;
    box-shadow:  2px 4px 7px #e2e5e9;}
.component-main .el-date-editor--daterange.el-input {
    width: 100% !important;
}
.component-main .dialog-title{font-size:16px;font-weight:bold;float:left;margin-top:-41px;}
/*.component-main .el-dialog__body{margin-top:20px;}*/
.el-input-group__append, .el-input-group__prepend{
    background-color: #6595f2;padding: 0 19px;color:#fff;
}
.component-main .el-dialog__header{
    padding: 20px 20px 20px;
    border-bottom: 1px solid #ddd;
}
.component-main .el-table td:nth-child(3) .cell{
    line-height: 10px !important;
}
.component-main .el-table td:nth-child(2) .cell,.component-main .el-table td:nth-child(8) .cell{
    padding-left:20px !important;text-align:left;
}
.component-main .el-table td .cell{}
/*filter-bar(工具栏)*/
.filter-toolbar{
    margin-bottom:20px;border-bottom:1px solid #e6e6e6;padding-bottom:10px;
}
/*tools-bar工具栏*/
.tools-bar{padding-bottom:20px;}
/*up-component(上传构件弹窗)*/
.up-component{
    width:692px;height:564px;
}
/*input*/
.up-component .relat{
    margin:8px 0;
}
/*imgUrl*/
.imgUrl{width:40px;height:40px;background-size: cover;text-align:center;text-align: center;
    vertical-align: middle;
    margin: 0 auto;}
.up-component .el-input-group.el-input{width:86.5%;}
.up-component .el-input-group{width:90%;}
.up-component .el-input{width:73%;}
.up-component .el-select>.el-input{width:100%;}
.up-component .el-textarea{width:86.5%;}
.up-component .label-w{width:80px;text-align:right;}
.up-component .update-btn{
    position: absolute;
    right: 18px;
    top: 0px;
    height:38px !important;
}
/*simulate-input(模拟input  label样式)*/
.up-component .simulate-input{
    width:240px;height:36px;line-height:36px;display:inline-block;
}
.simulate-label{
    width:84%;border:1px solid #e6e6e6;height:36px;line-height:36px;margin-left:80px;border-radius:2px;padding-left: 10px;
}
/*cloud-component(云构件树的弹窗样式)*/
/*工具栏*/
.cloud-component .cloud-toobar{
    padding:0px 0px 20px;
}
.cloud-component{width:500px;}
.cloud-component .cloud-toobar .icon-item{
   float:left;text-align:center;line-height:40px;border:1px solid #ddd;border-right:none;
}
.cloud-component .cloud-toobar .icon-item:last-child{border-right:1px solid #e6e6e6}
.cloud-component .cloud-toobar .icon-item:hover{
    color:#fff;background:#6595f2;
}
.cloud-component .cloud-toobar .icon-item>div{
    width:100%;
}
/*树结构*/
.components-icon{
    width:15px;height:16px;display:inline-block;margin-left:16px;
}
.components-icon.icon-edit{
    float: left;
    background: url('../../static/img/icon-menu.png') -110px -216px no-repeat;
}
.components-icon.icon-map{
    background: url('../../static/img/icon-menu.png') 0 0  no-repeat;
}
.components-icon.icon-update{background-position: -127px -146px;float:left}
.components-icon.icon-delete{background-position: -58px -146px;float:left}
