/*颜色模板*/
.color-template{}
.color-template .color-toolbar{
    padding:20px 0;background:#fff;margin:0 !important;
}

.color-template .template-filter.relat{
    padding: 0 20px 15px !important;
}
.color-template .template-filter:last-child{
    padding:15px 20px 0!important;
}
.color-template .template-filter:first-child{
    border-bottom: 1px solid #e6e6e6 ;
}
.color-toolbar .el-select {width:100%;}
/*template-table*/
.color-template .my-scrollbar{padding:20px 20px;}
.color-template .el-table td:nth-child(2),
.color-template .el-table td:nth-child(5),
.color-template .el-table td:nth-child(2) > div,
.color-template .el-table td:nth-child(5) > div
{text-align:left !important;padding:0 0 0 15px;}

/*template-dialog*/
.template-rename{width:450px;padding-bottom:20px;}
.template-rename .el-input,.template-rename .el-textarea{width:76%}
/*label-tempalte*/
.lab-template-filter{border-bottom:1px solid #e6e6e6;padding-top:0 !important;padding-bottom:20px ;}
/*dialog*/
.lab-addTemplate{width:450px;}
.lab-addTemplate .el-input{width:75% !important;}
.icon-template{width:14px;height:14px;display:inline-block;background: url('../../static/img/icon-menu.png') -0px -0px no-repeat;}
.icon-template.icon-del{
    float: left;
    margin-left: 18px;
    background-position:-58px -146px;
}
.icon-template.icon-add{
    float: left;
    margin-left: 18px;
    background-position: -3px -146px;
}
.icon-template.icon-edit{
    width:16px;height:16px;
    background-position: -110px -216px;
}
.icon-template.icon-dels{
    background-position:-57px -164px;
}
.color-template .el-form-item__label{
    width:73px !important;
}
.color-template .el-dialog__footer{padding-bottom:0px;}
/*日历模板*/
.calendar-template .el-select{width:75%;}
.calendar-template .el-select>.el-input{width:100% !important;}
.edit-template{width:1058px;}
.calendar-template .ui-date-picker{width:216px !important;float:left;margin-right:5px;}
/*.calendar-template .isWekendDate{color:red;}*/
.calendar-template .ui-date-picker > .header{background:#e6e6e6 !important;color:#333 !important;font-weight:bold;}
.calendar-template .ui-date-picker{border-color:#e6e6e6;}
.calendar-template .cal-template{height:620px;overflow:auto;border:1px solid #ddd;margin-left:30px;}
.calendar-template .template-tips{
    border-bottom: 1px solid #ddd;
    line-height: 46px;
    padding: 0 0 0 10px;
    font-size: 13px;
}
/*左侧复选框*/
.edit-template .edit-dup{border:1px solid #ddd;padding:13px;}
.edit-template .edit-dup .calendar-time{padding:10px 0 }
.edit-template .template-legend{line-height:40px;padding:0 0 0 10px;text-align:right;}
.edit-template .legend-black,
.edit-template .legend-red{width:20px;height:20px;display:inline-block;border:1px solid #ddd;line-height:20px;margin-right:10px;text-align:center;}
.edit-template .legend-black{color:#000;}
.edit-template .legend-red{color:red;}
.prview-template{width:800px;}
.priview-template .vue-scrollbar-transition .scroll-me{

}
