*{
    padding:0;margin:0;
}
.content p{
    font-size:14px;
}
.content textarea{
    resize:none;
}
.content .quality-search{
    margin:10px;
}
.content .el-pagination__total{
    float:left;
}
.content .el-input{
    width:80%
}
.content{
    padding: 0 !important ;
}
.content .el-table_1_column_1,td[class^=el-table_1_column]{
    padding:0 6px !important;
}

.content .el-table_1_column_2{
    padding:0 !important;text-align:left;
}

.content .quality-searchTool{
    float:right;min-width:388px;
}
/*BMP(流程设置)*/
.BMP-process table{
    width:100%;
}
.BMP-process table thead{
    background:rgb(238, 246, 250);height:40px;line-height:40px;
}

.BMP-process table th,.BMP-process table td{
    font-size:14px;text-align:center;height:40px;line-height:40px;border-bottom:1px solid #ddd;
}
.BMP-process table td:last-child{
    text-align:left;
}
.BMP-process .table-step{
    height:calc(100vh - 637px);overflow:auto;border:1px solid #ddd;border-top:none
}
.BMP-process .table-step table td{
    height:40px;line-height:40px;
}
.BMP-process .table-step table input{
    height:30px;
}
.content .BMP-info .BMP-serif{
    border-bottom:1px solid #ddd;margin-top:20px;
}
.content .BMP-info,.content .process-set{
    padding:10px;
}
.content .BMP-info .BMP-text,.content .process-set .BMP-text{
    font-size:14px;padding-bottom:30px;
}

/*.content .root-name div:nth-child(1){
    width:100%;height:auto;border:1px solid rgb(238, 246, 250)
}*/
.content .root-name div:nth-child(1)>p{
    height:40px;line-height:40px;background:#fff;text-align:center;
}
.content .substr{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.content .root-el{
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    padding:5px 10px;
    margin-right: 10px;
    width: 107px;
}
.content .root-el:hover{
    background:#fff
}
.content .BMP-process .addRoot{
    padding: 0px 17px;
    line-height:30px;border-radius:3px;height:30px;
    border: 1px solid #ddd;font-size:12px;
    width:60px;float: left;
   position:relative;margin:5px 5px 5px 0;
}
.content .BMP-process  .handle-delete{
    float: right;
    line-height: 40px;
    margin-right: 10px;
}
.content .BMP-process .delete-blank{
    position: absolute;
    top: 10px;
    right: 5px;
    background: #fff;
}
.content .addStep{
    line-height:30px;height:30px;border:1px dashed #ccc;text-align:center;
}
.content .BMP-process .rules-box{
    height: 344px;
    overflow: auto;border:1px solid #ddd;
}
.content .BMP-process .BMP-btns{
    padding: 10px 10px;
    text-align: center;
}
.content  .quality-searchTool .quality-searInput{
    width:30% !important;
    position: absolute;
    top: -23px;
    right: 0px;
}
.content .quality-dialog{
    width: 625px;
    height: 560px !important;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -312px;
    margin-top: -332px;
    background: #fff;
    z-index: 9999;
    border-radius: 5px;
}
.content .ztree-allCheck{
    cursor:pointer;padding-left:26px;
}
.content .ztree-allCheck>div{
    position: absolute;
    font-size: 14px;
    margin-left:35px;

}
/*simlue-checkbox模拟复选框样式*/
.content .simlue-label{
    position:relative;
}
.content .simlue-label input{
    opacity:0;
}
.content .simlue-checkbox{
    width:19px;height:16px;/*border:1px solid #ccc;*/display:inline-block;/*background:#fff;*/ position: absolute;
    left: 0px;top:2px;
    background:url('../../static/js/ztree/css/img/zTreeStandard1.png') no-repeat -32px -90px;
}
.content .simlue-label input[type=checkbox]:checked+ :after{

    content: '';
    display: block;
    width: 19px;
    height: 16px;
  /*  -webkit-transform: rotate(-90deg);
    transform: rotate(227deg);
    border-left: 2px solid green;
    border-top: 2px solid green;
    transform-origin: 6px 4.5px;*/
    background:url('../../static/js/ztree/css/img/zTreeStandard1.png') no-repeat -32px -90px;
    background-position: -60px -90px;

}
.content #checkAllTrue,.content #checkAllFalse{
    display:inline-block;
}
.el-select-dropdown{
    z-index:9999 !important;
}
/*关联模型link-model*/
.link-model .el-dialog{
    width:625px;
    height:560px;
}
 .link-model .el-dialog__header{
   padding:20px !important;
}
 .link-model .el-dialog__body{
     padding-top:0 !important;
 }
 .link-model  .link-model-body>div:nth-child(1){
     border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px 0 !important;
 }
.link-model .link-table{
    margin-top:20px;
}
.link-model .dialog-footer{
    text-align:center;
}
/*工程模板*/
.proTemplate .proTemplate-edit{
    padding:10px 20px;font-size:14px;
}
.proTemplate .proTemplate-edit .pro-nav-path{
    padding-bottom:20px;
}
.proTemplate .proTemplate-edit .template-name{
    margin:10px 0 ;background:#fff;padding:10px;margin-bottom:0;
    -webkit-box-shadow: 1px 0 6px #cccaca;
    -moz-box-shadow: 1px 0 6px  #cccaca;
    box-shadow: 1px 0 6px  #cccaca;
}
/*pro-ztreeInfo*/
.proTemplate .proTemplate-edit .pro-ztreeInfo{
    margin-top:20px;
    -webkit-box-shadow: 1px 0px 6px #cccaca;
    -moz-box-shadow: 1px 0px 6px #cccaca;
    box-shadow: 1px 0px 6px #cccaca;
    background:#fff;
}
.proTemplate .proTemplate-edit .pro-ztreeInfo .ztree{
    height:414px;overflow:auto;border:1px solid #ddd;
}
.proTemplate .proTemplate-edit  .pro-sear-area{
    padding:10px 0 ;border-left:1px solid #ddd;border-right:1px solid #ddd;
}
.proTemplate .proTemplate-edit  .pro-sear-area .el-input{
    width:94% !important;margin-left:12px;
}
.proTemplate .proTemplate-edit .sear-icon{
   float:right;
}
.sear-icon  .el-input{
    width:74% !important;display:inline-block;
}
.sear-icon .el-icon-search{
    font-size:16px;
}
.proTemplate-edit .title-name{
    font-size:14px;font-weight:bold;margin:15px 0px;
}
.proTemplate-edit .sear-icon>span{
    width: 18px;
    height: 18px;
    float:right;
    text-align: center;
    line-height: 18px;
    background:#4778C7;color:#fff;font-weight:bold;margin:0 5px;margin-top:8px;
}
.proTemplate-edit .sear-icon>span:last-child{
    margin-right:10px !important;
}
.proTemplate .proTemplate-edit .handle-icon{
    float:left;
}
.proTemplate .proTemplate-edit .handle-icon i:first-child{
    border-left:1px solid #ddd;
}
.proTemplate .proTemplate-edit .handle-icon i{
    font-size:16px;width:35px;height:35px;float:left;border:1px solid #ddd;border-left:none;text-align:center;line-height:35px;
}
.proTemplate .proTemplate-edit .handle-icon i:hover{
    background:#648fd4;color:#fff;
}
.proTemplate .proTemplate-edit .createNodes{
    display: inline-block;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    top:40px;
    left:0px;
    width:120px;
}
.proTemplate .proTemplate-edit .createNodes p{
    line-height:32px;
    height:32px;
    padding:0 10px;
}
.proTemplate .proTemplate-edit .createNodes p:hover{
    background:#ccc;
}
/*树结构对应的表单*/
.project-form{
    padding:15px;padding-left:0;
}
.project-form .project-form-tit{
    padding-bottom:15px;font-weight:bold;
}
.project-form .project-form-list{
    border:1px solid #ddd;padding:10px;
}
.project-form .project-form-list .el-input{
    width:100% !important;
}
.project-form .project-form-ele{
    height:450px;border:1px solid #ddd;width:100%;border-top:none;overflow:auto;
}
.project-form .project-form-ele .project-sultable{
    height: 58px;
    background: #f5f5f5;
    padding: 0 10px;
    line-height: 58px;
    text-align: center;
}
.project-form .project-form-ele ul li{
    list-style: none;
    line-height: 40px;
    padding: 0 0 0 20px;
}
.project-form .project-form-ele ul li:hover{
    background:#f5f5f5;
}
.proTemplate-edit .pro-butons{
    padding:10px 0 ;text-align:center;
}

    /*表单变更*/
.form-change .dialog-changeForm{
    height:400px;border:1px solid #ddd;padding:0 10px;
}
.form-change .dialog-changeForm>.priview-le{
    line-height:40px;border-bottom:1px solid #ddd;position:relative
}
.form-change .dialog-changeForm>.priview-le>div{
    display:inline-block;
}
.form-change .dialog-changeForm>.priview-le .el-icon-search{
    position:absolute;right:0;top:13px;
}
.form-change .dialog-changeForm>.priview-le:last-child{
    border:none;
}
/*表单编辑*/
.formEdit{
    position:fixed;left:50%;top:50%;z-index:3000;width:700px;background:#fff;height:600px;margin-left:-350px;margin-top:-350px;padding:20px;
}
.proTemplate .formEidt-title{
    margin-bottom:10px;
}
.proTemplate .formEidt-title span{
    font-size:18px;
}
.proTemplate .formEidt-title i{
    float:right;
}
/*添加树结构*/
.formEdit-body .ztree-struc{
    width:48%;height:416px;display:inline-block;border:1px solid #ddd;vertical-align: top;
}
.formEdit-body .ztree-struc .ztree{
    /*height:367px !important;*/
}
.formEdit-body .ztree-struc input{
    padding:10px !important;width:100% !important;
}
/*添加的表格*/
.formEdit-body .formLine{
    display:inline-block;border:1px solid #ddd;width:48%;height:416px;vertical-align: top;float:right;
}
.formEdit-body .formLine .el-input{
    width:106% !important;
}
 .form-table{
    max-height: 246px;
    overflow: auto;
}
.checked-title{
    height:35px;line-height:35px;margin:10px 10px;border:1px solid #ddd;border-radius:5px;padding-left:10px;
}
.formLine .form-dropDown{
    position:relative;
}
.formLine .el-tabs__item {
    height: 29px !important;
    box-sizing: border-box;
    line-height: 31px!important;
    position: relative;
    background: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
    color:deepskyblue;
}
.formLine .is-active{
    background:#fff !important;
    color:#000;
}
.formLine .form-table li{
    list-style:none;line-height:40px;height:40px;padding-left:10px;border-bottom:1px solid #ddd;
}
.formLine .form-table li:hover{
    background:#ddd;
}
.formLine .form-total{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;text-align:right
}
/*form-btns*/
 .formBtn{
    text-align: center;
    margin-top: 36px;
}
.formParams {
    display:inline-block !important;font-weight:bold;height: 53px;width:32%;
    line-height: 49px;
}
 .formParams>span{
    font-weight:normal;
}
.content .ztree{
    height: 308px;
    overflow: auto;
    padding:15px 20px 20px;
}
.content .quality-dialog-header{
    padding:20px 20px 0;
}
.content .quality-dialog-footer{
    text-align:center;
}
.ztree li a.curSelectedNode{
    background:transparent !important;
    border-color:transparent !important;
}
.ztree ul>li:hover{
    background:#f5f5f5;
}
