.content p{
    font-size:14px;
}
.content textarea{
    resize:none;
}
.content .quality-search{
    margin:10px;
}
.content .el-pagination__total{
    float:left;
}
.content .el-input{
    width:80%
}
.content{
    padding: 0 !important ;
}
.content .el-table_1_column_1,td[class^=el-table_1_column]{
    padding:0 6px !important;
}

.content .el-table_1_column_2{
    padding:0 !important;text-align:left;
}

.content .quality-searchTool{
    float:right;min-width:388px;
}
/*BMP(流程设置)*/
.BMP-process table{
    width:100%;
}
.BMP-process table thead{
    background:rgb(238, 246, 250);height:40px;line-height:40px;
}

.BMP-process table th,.BMP-process table td{
    font-size:14px;text-align:center;height:40px;line-height:40px;border-bottom:1px solid #ddd;
}
.BMP-process table td:last-child{
    text-align:left;
}
.BMP-process .table-step{
    height:calc(100vh - 637px);overflow:auto;border:1px solid #ddd;border-top:none
}
.BMP-process .table-step table td{
    height:40px;line-height:40px;
}
.BMP-process .table-step table input{
    height:30px;
}
.content .BMP-info .BMP-serif{
    border-bottom:1px solid #ddd;margin-top:20px;
}
.content .BMP-info,.content .process-set{
    padding:10px;
}
.content .BMP-info .BMP-text,.content .process-set .BMP-text{
    font-size:14px;padding-bottom:30px;
}

/*.content .root-name div:nth-child(1){
    width:100%;height:auto;border:1px solid rgb(238, 246, 250)
}*/
.content .root-name div:nth-child(1)>p{
    height:40px;line-height:40px;background:rgb(238, 246, 246);text-align:center;
}
.content .substr{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.content .root-el{
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    padding:5px 10px;
    margin-right: 10px;
    width: 107px;
}
.content .root-el:hover{
    background:rgb(238, 246, 246)
}
.content .BMP-process .addRoot{
    padding: 0px 17px;
    line-height:30px;border-radius:3px;height:30px;
    border: 1px solid #ddd;font-size:12px;
    width:60px;float: left;
   position:relative;margin:5px 5px 5px 0;
}
.content .BMP-process  .handle-delete{
    float: right;
    line-height: 40px;
    margin-right: 10px;
}
.content .BMP-process .delete-blank{
    position: absolute;
    top: 10px;
    right: 5px;
    background: #fff;
}
.content .addStep{
    line-height:30px;height:30px;border:1px dashed #ccc;text-align:center;
}
.content .BMP-process .rules-box{
    height: 344px;
    overflow: auto;border:1px solid #ddd;
}
.content .BMP-process .BMP-btns{
    padding: 10px 10px;
    text-align: center;
}
.content  .quality-searchTool .quality-searInput{
    width:30% !important;
    position: absolute;
    top: -23px;
    right: 0px;
}
.content .quality-dialog{
    width: 625px;
    height: 560px !important;
    position: absolute;
    left: 50%;
    margin-left: -428px;
    margin-top: -598px;
    background: #fff;
    z-index: 9999;
    border-radius:5px;
}
.content .ztree-allCheck{
    cursor:pointer;padding-left:26px;
}
.content .ztree-allCheck>div{
    position: absolute;
    font-size: 14px;
    margin-left:35px;

}
/*simlue-checkbox模拟复选框样式*/
.content .simlue-label{
    position:relative;
}
.content .simlue-label input{
    opacity:0;
}
.content .simlue-checkbox{
    width:15px;height:15px;border:1px solid #ccc;display:inline-block;background:#fff; position: absolute;
    left: 0px;top:2px;
}
.content .simlue-label input[type=checkbox]:checked+ :after{

    content: '';
    display: block;
    width: 5px;
    height: 9px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(227deg);
    border-left: 2px solid green;
    border-top: 2px solid green;
    transform-origin: 6px 4.5px;

}
.content #checkAllTrue,.content #checkAllFalse{
    display:inline-block;
}

/*关联模型link-model*/
.link-model .el-dialog{
    width:625px;
    height:560px;
}
 .link-model .el-dialog__header{
   padding:20px !important;
}
 .link-model .el-dialog__body{
     padding-top:0 !important;
 }
 .link-model  .link-model-body>div:nth-child(1){
     border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px 0 !important;
 }
.link-model .link-table{
    margin-top:20px;
}
.link-model .dialog-footer{
    text-align:center;
}
/*表单变更*/
.form-change .dialog-changeForm{
    height:400px;border:1px solid #ddd;padding:0 10px;
}
.form-change .dialog-changeForm>.priview-le{
    line-height:40px;border-bottom:1px solid #ddd;position:relative
}
.form-change .dialog-changeForm>.priview-le>div{
    display:inline-block;
}
.form-change .dialog-changeForm>.priview-le .el-icon-search{
    position:absolute;right:0;top:13px;
}
.form-change .dialog-changeForm>.priview-le:last-child{
    border:none;
}
.content .ztree{
    height: 308px;
    overflow: auto;
    padding:25px 20px 20px;
}
.content .quality-dialog-header{
    padding:20px 20px 0;
}
.content .quality-dialog-footer{
    text-align:center;
}
