*{
    padding:0;margin:0;
}
.content p{
    font-size:14px;
}
.content textarea{
    resize:none;
}
.content .quality-search{
    margin:10px;position:relative;
}
.BMP-info>div:nth-child(2),.BMP-info>div:nth-child(3){
    padding:20px 20px 0;
}
.quality-search .el-icon-circle-cross{
    position: absolute;
    right: 29px;
    font-size: 10px;
    top: 12px;
    color: #ccc;
}
.content .el-pagination__total{
    float:left;
}
.content .el-input{
    width:80%
}
.content{
    padding: 0 !important ;
}
.content .el-table_1_column_1,td[class^=el-table_1_column]{
    padding:0 6px !important;
}



.content .quality-searchTool{
    float:right;min-width:388px;
}
.quality-page .quality-table{
    height:calc( 100vh - 400px);overflow:auto;
}
.quality-page .quality-table .el-table-column--selection .cell{
    padding:0;
}
.quality-page .quality-table.el-table thead tr th{
    height:60px;line-height:60px;background:#f0f0f0;border-right:1px solid #ddd;text-align:center;
}
.quality-page .quality-table.el-table thead tr th:last-child{
    border-right:none !important;
}
.quality-page .quality-table.el-table tbody tr td{
    height:45px;line-height:45px;text-align:center;border-right:1px solid #ddd;
}
.quality-page .quality-table.el-table tbody tr td:nth-child(3),.quality-page .quality-table.el-table tbody tr td:nth-child(4),.quality-page .quality-table.el-table tbody tr td:nth-child(6){
    text-align:left;
}
.quality-page .quality-table.el-table thead .cell{
    background:transparent;
}
.quality-page .quality-table.el-table tbody td i{
    padding:4px;background:#EBEFF8;font-size:12px;border-radius:2px;margin-right:4px;
}
.quality-page .quality-table.el-table tbody td i:nth-child(3){
    margin:0;
}
.quality-page .trends-byte{
    position: absolute;
    right: 27.5%;
    bottom: 31px;margin-left:-74px;color:#6595f2;font-size:12px;
}
/*BMP(流程设置)*/
.BMP-process .el-input{
    border-radius:0 !important;
}
.BMP-process table{
    width:100%;
}
.BMP-process table.table-head tr td{
    background:#f0f0f0;height:54px;line-height:54px;border-right:1px solid #ddd;
}


.BMP-process table th,.BMP-process table td{
    font-size:14px;text-align:center;height:40px;line-height:40px;border-bottom:1px solid #ddd;
}
.BMP-process table td:last-child{
    /*text-align:left;*/
}
.BMP-process .table-step{
    height:calc(100vh - 704px);overflow:auto;border:1px solid #ddd;border-top:none
}
.BMP-process .table-step table tr:last-child td{
    border-bottom:none;
}
.BMP-process .table-step table td{
    height:40px;line-height:40px;border-right:1px solid #ddd;text-align:center;
}
.BMP-process .table-step table td:last-child{
    border-right:none;
}
.BMP-process .table-step table input{
    height:30px;border-radius:0;
}
.content .BMP-info{
    background:#fff;
}
.content .BMP-info .el-input{
    width:65% !important;
}
.content .BMP-info .BMP-serif{
    margin-top:20px;
}
.content .process-set{
    background:#fff;
}
.content .process-set{
    margin-top:20px;
}
.process-set .BMP-text{
    font-weight:bold;padding:14px 20px;border-bottom:1px solid #ddd;margin-bottom:20px;
}
.content .BMP-info .BMP-text{
    font-size:14px;padding-bottom:30px;
}
.content .process-set .BMP-text{
    font-size:16px;
}
.BMP-info .pro-title{
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6;
    font-weight:bold;
}
/*.content .root-name div:nth-child(1){
    width:100%;height:auto;border:1px solid rgb(238, 246, 250)
}*/
.content .root-name{
    padding-left:10px;padding-bottom:30px;border-bottom:1px solid #ddd;
}
.content .root-table{
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.content .root-name div:nth-child(1)>p{
    height:56px;line-height:56px;background:#f0f0f0;text-align:center;
}
.content .substr{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.content .root-el{
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding:5px 10px;
    margin-right: 10px;
    width:107px;
    max-width: 124px !important;
}
.content .root-el:hover{
    background:#6595f2;color:#fff;border-radius:5px;text-align:center;
}
.content .BMP-process{
    padding:20px;
}
.content .BMP-process .addRoot{
    padding: 0px 17px;
    line-height:30px;border-radius:3px;height:30px;
    border: 1px solid #ddd;font-size:12px;
    width:60px;float: left;
   position:relative;margin:5px 5px 5px 0;
}
.content .BMP-process  .handle-delete{
    /*float: right;
    line-height: 40px;
    margin-right: 10px;*/
}
.content .BMP-process .delete-blank{
    position: absolute;
    top: 10px;
    right: 5px;
    background: #fff;
}
.content .addStep{
    line-height:50px;height:50px;border:1px dashed #ccc;text-align:center;
}
.content .addStep{
    color:#6596f2;font-weight:bold;
}
.content .BMP-process .rules-box{
    height: 276px;
    overflow: auto;border:1px solid #ddd;padding:20px 30px 0;
}
.content .BMP-process .BMP-btns{
    padding: 27px 10px 30px 10px;
    text-align: center;
}
.el-button{
    width:116px;
}
.content  .quality-searchTool .quality-searInput{
    width:30% !important;
    position: absolute;
    top: -23px;
    right: 0px;
}
.content .quality-dialog{
    width: 536px;
    height: 638px !important;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -312px;
    margin-top: -332px;
    background: #fff;
    z-index: 9999;
    border-radius: 5px;
}
.quality-dialog .ztree{
    padding:15px 40px 15px !important;height:374px !important;overflow:auto;
}
.content .ztree-allCheck{
    cursor:pointer;padding-left:40px;font-size:14px;
}
.content .ztree-allCheck>div{
    position: absolute;
    font-size: 14px;
    margin-left:35px;

}
.quality-dialog .ztree li a{
    font-size:14px;
}
/*simlue-checkbox模拟复选框样式*/
.content .simlue-label{
    position:relative;
}
.content .simlue-label input{
    opacity:0;
}
.content .simlue-checkbox{
    width:19px;height:16px;/*border:1px solid #ccc;*/display:inline-block;/*background:#fff;*/ position: absolute;
    left: 0px;top:2px;
    background:url('../../static/js/ztree/css/img/zTreeStandard1.png') no-repeat -32px -90px;
}
.content .simlue-label input[type=checkbox]:checked+ :after{

    content: '';
    display: block;
    width: 19px;
    height: 16px;
  /*  -webkit-transform: rotate(-90deg);
    transform: rotate(227deg);
    border-left: 2px solid green;
    border-top: 2px solid green;
    transform-origin: 6px 4.5px;*/
    background:url('../../static/js/ztree/css/img/zTreeStandard1.png') no-repeat -32px -90px;
    background-position: -60px -90px;

}
.content #checkAllTrue,.content #checkAllFalse{
    display:inline-block;
}
.el-select-dropdown{
    z-index:9999 !important;
}
/*关联模型link-model*/
.link-model .el-dialog{
    width:734px;
    height:615px;
}
 .link-model .el-dialog__header{
   padding:20px 30px !important;border:1px solid #ddd;
}
.link-model .el-dialog__header>span{
    font-size:18px;
}
 .link-model .el-dialog__body{
     padding:10px 40px !important;
 }
 .link-model  .link-model-body>div:nth-child(1){
    padding:10px 0 !important;
 }
.link-model .link-table{
    margin-top:10px;height: 404px;overflow: auto;
}
.link-table .el-table th>.cell{
    text-align:center !important;padding:0;
}
.link-table .el-table tbody tr td .cell{
    text-align:center;padding:0;
}
.link-table .el-table tbody tr td:nth-child(3){
    text-align:left;
}
.link-table .el-table tbody tr td:nth-child(4) i{
    margin-right:6px;
}
.link-model .dialog-footer{
    text-align:center;
}
/*工程模板*/
.proTemplate .proTemplate-edit{
    padding:10px 20px;font-size:14px;
}
.proTemplate .proTemplate-edit .pro-nav-path{
    padding-bottom:20px;
}
.proTemplate .proTemplate-edit .template-name{
    margin:10px 0 ;background:#fff;padding:12px 10px;margin-bottom:0;
    -webkit-box-shadow: 1px 0 6px #cccaca;
    -moz-box-shadow: 1px 0 6px  #cccaca;
    box-shadow: 1px 0 6px  #cccaca;
}
.proTemplate .proTemplate-edit .template-name .el-input{
    font-size:14px;
}
/*pro-ztreeInfo*/
.proTemplate .proTemplate-edit .pro-ztreeInfo{
    margin-top:20px;
    -webkit-box-shadow: 1px 0px 6px #cccaca;
    -moz-box-shadow: 1px 0px 6px #cccaca;
    box-shadow: 1px 0px 6px #cccaca;
    background:#fff;
}
.proTemplate .proTemplate-edit .pro-ztreeInfo .ztree{
    height:414px;overflow:auto;border:1px solid #ddd;
}
.proTemplate .proTemplate-edit  .pro-sear-area{
    padding:10px 0 ;border-left:1px solid #ddd;border-right:1px solid #ddd;
}
.proTemplate .proTemplate-edit  .pro-sear-area .el-input{
    width:94% !important;margin-left:12px;
}
.proTemplate .proTemplate-edit .sear-icon{
   float:right;
}
.proTemplate .multi-textarea .el-dialog__header{
    padding: 20px 20px 16px;
    border-bottom: 1px solid #ddd;
}
.proTemplate .multi-textarea .el-dialog__body{
    padding:20px 33px;
}
.proTemplate .multi-textarea .el-dialog__footer{
    padding:10px 20px 36px !important;
}
.proTemplate .dialog-footer{
    text-align:center !important;
}
.sear-icon  .el-input{
    width:74% !important;display:inline-block;
}
.sear-icon .el-icon-search{
    font-size:16px;
}
.proTemplate-edit .title-name{
    font-size:16px;font-weight:bold;padding:15px 0px;
}
.proTemplate-edit .sear-icon>span{
    width: 18px;
    height: 18px;
    float:right;
    text-align: center;
    line-height: 18px;
    background:#6595f2;color:#fff;font-weight:bold;margin:0 5px;margin-top:8px;border-radius:2px;
}
.proTemplate-edit .sear-icon>span#collapseBtn{
    margin-right:15px !important;
}
.proTemplate .proTemplate-edit .handle-icon{
    float:left;
}
.proTemplate .proTemplate-edit .handle-icon i:first-child{
    border-left:1px solid #ddd;
}
.proTemplate .proTemplate-edit .handle-icon i{
    font-size:16px;width:35px;height:35px;float:left;border:1px solid #ddd;border-left:none;text-align:center;line-height:35px;
}
.proTemplate .proTemplate-edit .handle-icon i:hover{
    background:#648fd4;color:#fff;
}
.proTemplate .proTemplate-edit .createNodes{
    display: inline-block;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    top:40px;
    left:0px;
    width:120px;
}
.proTemplate .proTemplate-edit .createNodes p{
    line-height:30px;
    height:30px;
    padding:0 10px;
    color:#666;font-size:12px;
}
.proTemplate .proTemplate-edit .createNodes p:hover{
    background:#f5f5f5;
}
/*表格对齐方式*/
.proTemplate .el-table tbody tr:nth-child(1) td{
    border-top:1px solid #ddd;
}
.proTemplate .el-table tbody tr:hover{
    background:#e6e6e6 !important;
}
.proTemplate .el-table .cell{
    padding:0 !important;
}
.proTemplate .el-table tbody td{
    height:45px;line-height:45px;border-right: 1px solid #ddd;text-align:center;
}
.proTemplate .el-table tbody tr td:nth-child(3),.proTemplate .el-table tbody tr td:nth-child(5){
    text-align:left;
}
.proTemplate .el-table tbody tr td:last-child{
    text-align:center;
}
.proTemplate .el-table .cell .el-icon-edit{
    color:#6596F2;padding: 4px; border-radius: 2px;
}
.proTemplate .el-table .cell .el-icon-edit:hover{

    background: #EBEFF8;

}
.affirm{
    background:url('../../static/img/icon-cancel.png') no-repeat 0 0;width:15px;height:15px;display:inline-block;
}
.cancel{
    background:url('../../static/img/icon-cancel.png') no-repeat -19px 0;width:15px;height:15px;display:inline-block;
}
/*multi-textarea(添加多个子节点)*/
.multi-textarea .el-dialog--small{
    width:500px !important;
}
/*树结构对应的表单*/
.project-form{
    padding:15px 20px 0 10px;margin-bottom:30px;
}
.project-form .project-form-tit{
    padding-bottom:15px;font-weight:bold;font-size:16px;
}
.project-form .project-form-list{
    border-bottom:1px solid #ddd;padding:10px 20px;
}
.project-form  .project-form-list .el-icon-edit{
    float: right;
    margin-top: 10px;
    padding: 4px;
    background: #6595F2;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}
.project-form .project-form-list .el-input{
    width:100% !important;
}
.project-form .project-form-ele{
    height:450px;width:100%;border-top:none;overflow:auto;
}
.project-form .project-form-ele .project-sultable{
    height: 58px;
    background: #f5f5f5;
    padding: 0 10px;
    line-height: 58px;
    text-align: center;font-weight:bold;font-size:14px;border-bottom:1px solid #ddd;
}
.project-form .project-form-ele ul li{
    list-style: none;
    line-height: 45px;
    padding: 0 0 0 20px;font-size:12px;border-bottom:1px solid #ddd;
}
.project-form .project-form-ele ul li:hover{
    background:#f5f5f5;
}
.proTemplate-edit .pro-butons{
    padding:34px 0 ;text-align:center;border-top:1px solid #ddd;
}
.proTemplate-edit .ztree li span{
    font-size:14px;
}
    /*表单变更*/
.form-change .dialog-changeForm{
    height: 340px;
    border: 1px solid #ddd;
    padding: 0 10px;
    overflow: auto;
}
/*.form-table*/
.form-change .form-table{
    min-height:calc(100vh  - 400px );overflow:auto;
}
.form-change .form-table .table{

}
.form-change .form-table .el-table__header-wrapper{
    height:54px;line-height:54px;
}
.form-change .form-table .el-table__header-wrapper thead tr th{
    background:#f0f0f0;border-right:1px solid #ddd;
}
.form-change .el-table th>.cell{
    background:transparent;text-align:center;
}
.form-change .form-table tbody tr:nth-child(1) td{
    border-top:1px solid #ddd;
}
.form-change .form-table tbody tr td{
    height:45px;line-height:45px;border-right:1px solid #ddd;text-align:center;
}
.form-change .form-table tbody tr td:nth-child(2),.form-change .form-table tbody tr td:nth-child(5),.form-change .form-table tbody tr td:nth-child(3){
    text-align:left;
}
.form-change .dialog-changeForm>.priview-le{
    line-height:40px;border-bottom:1px solid #ddd;position:relative
}
.form-change .dialog-changeForm>.priview-le>div{
    display:inline-block;
}
.form-change .dialog-changeForm>.priview-le .el-icon-search{
    position:absolute;right:0;top:13px;
}
.form-change .dialog-changeForm>.priview-le:last-child{
    border:none;
}
.form-change .el-dialog--small{
    width:450px !important;

}
.form-change .single-stump .form-dialog-body{
    height:388px;overflow:auto;padding:30px 40px;
}
.form-change .single-stump .form-dialog-body >.form-content{
    padding:0px 20px 0px 20px;border:1px solid #ddd;height:374px;overflow:auto;
}
/*form-ztree-dialog(表单结构树结构另外一套)*/
.form-ztree-dialog{
    width: 535px;
    height: 630px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left:-225px;
    margin-top:100px;
    z-index: 3001;
    /*padding: 0 32px 14px;*/
}
.form-change .priview-le{
    height:44px;line-height:44px;border-bottom:1px solid #ddd;padding:0 10px;
}
.form-change .priview-le:last-child{
    border-bottom:none;
}
.form-change .priview-le>div{
    display:inline-block;font-size:13px;
}
.form-change .priview-le>.el-icon-search{
    float:right;margin-top:12px;opacity:0.5;
}
.form-change .form-ztree-dialog .form-dialog-title>p{
    padding: 20px 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;font-size:18px;font-weight:bold;
}
.form-change .form-ztree-dialog .form-dialog-title .el-input{
    width:85% !important;margin-left:40px;
}
.form-change .form-ztree-dialog .form-dialog-title>p .el-icon-close{
    float:right;font-size:14px; margin-top: 5px;
}
.form-change .form-ztree-dialog .form-dialog-footer{
    text-align:center;
}
.form-change .form-ztree-dialog .icon-eyes{
    width:15px;height:15px;display:inline-block;background:url('../img/icon-eye.png') no-repeat -5px 0;float:right;margin-top:5px;
}
.form-change .ztree{
    height:374px !important;overflow:auto;padding:20px 40px 40px !important;
}
/*表单编辑*/
.formEdit{
    position:fixed;left:50%;top:50%;z-index:3000;width:760px;background:#fff;height:650px;margin-left:-350px;margin-top:-350px;
}
.formEdit .ztree li span{
    font-size:14px;font-family:"microsoft yahei"
}
.proTemplate .formEidt-title{
    padding:18px 26px;
}
.proTemplate .formEidt-title span{
    font-size:18px;font-weight:bold;
}
.proTemplate .formEidt-title i{
    float:right;
}
/*工程模板表格*/
.proTemplate .proTemplate-table{
    height:calc(100vh - 350px)
}
.proTemplate .proTemplate-table .el-table__header-wrapper{
    height:54px;line-height:54px;
}
.proTemplate .proTemplate-table .el-table__header-wrapper thead tr th{
    background:#f0f0f0;border-right: 1px solid #ddd;
}
.proTemplate .el-table th>.cell{
    background:transparent;text-align:center;
}
.formEdit-body{
    padding:0 40px 0px;
}
.formEdit .form-edit-info{
    border-top:1px solid #ddd;padding:0px 40px;
}
/*添加树结构*/
.formEdit-body .ztree-struc{
    width:48%;height:416px;display:inline-block;border:1px solid #ddd;vertical-align: top;
}
.formEdit-body .ztree-struc .ztree{
    height:268px !important;
}
.formEdit-body .ztree-struc input:nth-child(1){
    width:136% !important;
}
.formEdit-body .ztree-struc input{
    padding:10px !important;width:100% !important;
}
/*添加的表格*/
.formEdit-body .formLine{
    display:inline-block;border:1px solid #ddd;width:47%;height:416px;vertical-align: top;float:right;position:relative;
}
.formEdit-body .el-icon-arrow-right{
    position: absolute;
    left: 49.5%;
    top: 50%;
}
.formEdit-body .formLine .el-input,.formEdit-body .ztree-struc .el-input:nth-child(1){
    width:106% !important;
}
 .form-table{
    max-height: 246px;
    overflow: auto;
}
.checked-title{
    height:35px;line-height:35px;margin:10px 10px;border:1px solid #ddd;border-radius:5px;padding-left:10px;
}
.formLine .form-dropDown{
    position:relative;
}
/*.formLine .el-tabs__nav{
    width:80px;
}
.formLine .el-tabs--card .el-tabs__nav .el-tabs__item{
    width:80px;
}*/
.formLine .el-tabs--card .el-tabs__nav .el-tabs__item{
    width:90px;font-size:14px;border-radius:0;
}
.formLine .el-tabs__item {
    border-radius:0;
    height: 29px !important;
    box-sizing: border-box;
    line-height: 31px!important;
    position: relative;
    background: #e6e6e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    color:#263047;
}
.formLine .el-tabs__content{
    margin-top:27px !important;
}
.formLine .is-active{
    background: #fff !important;
    border: 1px solid #ddd !important;
    color: #6595f2 !important;
    border-bottom: none!important;
}
.formLine .form-table{
    border-top:1px solid #ddd;
}
.formLine .form-table li{
    list-style:none;line-height:42px;height:44px;padding-left:10px;border-bottom:1px solid #ddd;font-size:14px;
}
.formLine .form-table li:hover{
    background:#e6e6e6;
}
.formLine .form-table li .tabs-icon{
    float:right!important;margin-right:10px;
}
.formLine .form-table li .tabs-icon>i{
    margin-right:7px;color:#6595f2;
}
.formLine .el-tabs__header{
    margin:0;position:absolute;left:0;top:56px;z-index:1;
}
.formLine .form-total{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;text-align:right
}
/*form-btns*/
 .formBtn{
    text-align: center;
    margin-top: 43px;
}
.formParams {
    display:inline-block !important;font-weight:bold;height: 53px;width:32%;
    line-height: 49px;font-size:14px;
}
 .formParams>span:nth-child(1){
    font-weight:normal;color: #263047;font-size:12px;
}
 .formParams>span:nth-child(2){
     color:#6595f2;
 }
.content .ztree{
    height: 308px;
    overflow: auto;
    padding:15px 20px 20px;
}
.content .quality-dialog-header{
    padding:20px 0px 0;
}
.content .quality-dialog-footer{
    text-align:center;
}
.ztree li a.curSelectedNode{
    background:transparent !important;
    border-color:transparent !important;
}
.ztree ul>li:hover{
    background:#f5f5f5;
}
.el-button--primary:focus, .el-button--primary:hover{
    background:#4778C7 !important;color:#fff;border-color:#4778C7 !important;
}
/*遮罩层*/
.mask{
    width:100%;height:100%;background:#000;opacity:0.5;position:absolute;top:0;left:0;z-index:2000
}
